body{
    background-color: #F7ECDE ;
    
}
h1 {
    font-weight: bold;
    font-size: 18pt;
    color: red;
}

h2 {
    font-weight: bold;
    color: chocolate;
}

h3 {
    color: mediumslateblue;
}
.renk-yesil{
    color: green;
    font-size: 20px;
}
p {
    color: black;
font-size: 20pt;
}

img {
    border: 5px solid #555;
    background:transparent;
    padding:8px;
    border:1px solid #ccc;
    box-shadow:5px 5px 5px #999;
  }